<?xml version="1.0"?>

<!-- Robot Name --> 
<robot name="LiCAS_A1_sensor_wall" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="world" />

  <joint name="sensor_wall_base_joint" type="fixed">
    <origin xyz="2.5 0 0.05" rpy="0 0 0"/> 
    <parent link="world"/>
    <child link="sensor_wall_base"/>
  </joint> 
  
  <link name="sensor_wall_base">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1e3" />
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/> 
      <geometry>
	      <box size="1 1.2 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/> 
      <geometry>
	      <box size="1 1.2 0.1"/>
      </geometry>
    </collision>
  </link> 

  <joint name="sensor_wall_joint" type="revolute">
    <origin xyz="0 0 1"/>
    <parent link="sensor_wall_base"/>
    <child link="sensor_wall"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.0" friction="0.0"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="6"/>
  </joint>  
  
  <link name="sensor_wall">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1e3" />
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/> 
      <geometry>
	      <box size="0.8 1 1.8"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/> 
      <geometry>
	      <box size="0.8 1 1.8"/>
      </geometry>
    </collision>
  </link> 

  <gazebo reference="sensor_wall">
    <material>Gazebo/DarkGrey</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp value="1e3" />
    <kd value="1e3" />
  </gazebo>

  <!-- Enable the Joint Feedback -->
  <gazebo reference="sensor_wall_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <!-- The ft_sensor plugin -->
  <gazebo>
    <plugin name="sensor_wall_joint_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>sensor_wall_joint_sensor</topicName>
      <jointName>sensor_wall_joint</jointName>
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin name="f3d_plugin" filename="libgazebo_ros_f3d.so">
      <robotNamespace>licasa1</robotNamespace>
      <bodyName>sensor_wall</bodyName>
      <topicName>sensor_wall/body_wrench</topicName>
    </plugin>
  </gazebo>   -->

</robot>
