<?xml version="1.0"?>
<robot name="LiCAS_A1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
       <robotNamespace>/firefly</robotNamespace> 
    </plugin> 

    <plugin name="ShouldersControlPlugin" filename="libShouldersControlPlugin.so">
      </plugin> 
  </gazebo>

</robot>
