<?xml version="1.0"?>

<launch>
  <arg name="model" />	
  <param name="robot_description" command="$(find xacro)/xacro 
  		$(find rotors_description)/urdf/firefly.xacro 
  		namespace:=firefly" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node pkg="tf" type="static_transform_publisher" name="ned_frame" args="0 0 0 1 0 0 0 firefly/base_link ned_frame 10"/>
</launch>
