<?xml version="1.0"?>

<!--Convenience launch file to start gazebo + control--> 
<launch>

	<include file="$(find uav-cable-suspended-robots-ros-pkg)/launch/spawn_cranebot.launch">
	</include>

	<include file="$(find uav-cable-suspended-robots-ros-pkg)/launch/control_cranebot.launch">
	</include>

</launch>
